<% if (user === null || user === undefined) { %>
    <a href=<%= `http://localhost:3000/session/login?q=${originalUrl}` %> >Login</a> 
<% } else { %>
    <a href=<%= `http://localhost:3000/session/logout?q=${originalUrl}` %> >Logout</a> 
<% } %> 