<% if (user !== null && user !== undefined) { %>
    <% if (!subscribed) { %> 
        <button class="btn btn-secondary" id="subscribe">Subscribe</button>
    <% } else { %> 
        <button class="btn btn-secondary" id="subscribe">Unsubscribe</button>
    <% } %> 
<% } %> 