<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <%- include("partials/styles.ejs") %>

</head>
<body>
    <h1>Login</h1>

    <form action=<%= `/session/login?q=${query}` %> method="post">
        <div class="form-group row">
            <label for="username">Username </label>
            <input class="form-control" type="text" name="username" placeholder="Enter Username">
        </div>

        <div class="form-group row">
            <label for="password">Password </label>
            <input class="form-control" type="password" name="password" placeholder="Enter Password">
        </div>

        <div class="form-group row">
            <button class="btn btn-primary">Login</button>
        </div>

        <div class="form-group row">
            <a href=<%= `http://localhost:3000/session/signup?q=${query}` %>>New User? Click here to register</a>
        </div>
    </form>
    
</body>
</html>