/* page elements */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: montserrat;
    font-weight: 100;
}

header {
    color: #EDF2F4;
    align-self: start;
    padding: .5em 0em 0em 1em;
    background-color: #2b2d42;
    width: 100%;
}

header h1 {
    letter-spacing: .2em;
}

header div {
    display: flex;
    justify-content: space-between;
}

header div a {
    font-size: 1.3em;
    color: inherit;
    font-style: inherit;
    text-decoration: none;
    text-align: right;
    
    margin: 0 16px 8px 0;

    transition: all ease-in-out .5s;
}

header div a:hover {
    color: #8d99ae;
}

#subscribe {
    transition: all ease-in-out .5s;
}

fieldset {
    border: .2rem solid #2b2d42;
    margin: 1em 0em;
    padding: .5em .5em;
    border-radius: 10px;
}


/* posts */
.post {
    background-color: #edf2f4;
    padding: 2em;
    margin: 1em 0em;
    border-radius: 5px;
    cursor: pointer;
}

.post h2 {
    color: #FB8F67;
    letter-spacing: .1em;
}

.post p {
    color: #2b2d42;
    font-weight: 200;
}

.post footer{
    color: #8d99ae;
    font-weight: 100;
}

.postImg {
    text-align: center;
    margin: 0em 0em .5em 0em;
}

.postImg img {
    width: 100%;
}

.postHolder {
    width: 95%;
}

#postField {
    width: 95%;
}

 @media (min-width: 700px) {
    .postHolder {
        width: 70%;
    }

    #postField {
        width: 70%;
    }
 }

 @media (min-width: 1100px) {
    .post {
        width: 48%;
    }

    .postHolder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .postHolder {
        width: 90%;
    }

    #postField {
        width: 90%;
    }
}




/* forms */
#formHeader {
    padding: .5em 0em 0em 1em;
    margin: 2em auto .3em auto;
    align-self: flex-start;
    color: #2b2d42;
    width: 80%;
}

form {
    background-color: #EDF2F4;
    border-radius: 5px;
    padding: 1em;
}

form .form-group button {
    width: 75px;
}

.form-group {
    margin: .8em 2em;
    display: flex;

    justify-content: space-between;
}

.form-group label {
    flex-basis: 5em;
    flex-shrink: 0;
    flex-grow: 0;

    padding: 0;
}

.form-group input {
    flex-basis: content;
    flex-shrink: 1;
    flex-grow: 1;
}

.form-group input:focus-visible, .form-group textarea:focus-visible {
    outline: none;
}


/* bootstrap overrides */
.btn-primary {
    background-color: #2b2d42;
    border-color: #2b2d42;
    color: #edf2f4;
}

.btn-primary:hover {
    background-color: #3b3e5a;
    border-color: #3b3e5a;
    color: #edf2f4;
}

.btn-primary:focus {
    background-color: #2b2d42;
}

.btn-danger{
    background-color: #D90429;
    border-color: #D90429;
    color: #edf2f4;
}

.btn-danger:hover {
    background-color: #e92344;
    border-color: #e92344;
    color: #edf2f4;
}

.btn-danger:focus {
    background-color: #D90429;
}


/* Animations */
.spinner {
    animation-name: spinner;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 3s;
    transform-style: preserve-3d;
    text-align:center;
}
  @keyframes spinner {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(10turn);
    }
  }
  