
#header {
    display: flex;
    justify-content: space-between;
}

#header h1 {
    font-size: 1.3em;
    margin: 0 0 8px 0;
}

#header div {
    margin-bottom: 8px;
}

.postHolder {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.post {
    cursor: default;
    margin-bottom: 4rem;
}

.post button {
    margin-top: 10px;
    padding: .2em 1em;
}


/* handles commends */
.commentHolder {
    display: flex;
    flex-direction: column;
}

.commentDivide {
    height: 15px;
    border-left: 2px solid #8d99ae;
}

.comment {
    margin: 2px
}


@media (min-width: 700px) {
    /* handles everything for posts */
    .post {
        position: relative;
        width: 85%;
        float: left;
    }

    .post .postImg {
        float: right;
        margin-left: 10px;
        max-width: 50%;
        text-align: right;
    }

    .post .postImg img {
        width: auto;
        max-width: 100%;
        max-height: 500px;
    }

    .post .editBtn, .post .btn-group {
        position: absolute;
        left: 32px;
        bottom: 32px;
    }

    .post form {
        max-width: 47%;
        margin: 0;
        margin-bottom: 10px;
    }

    .post .postFooter {
        margin-bottom: 60px;
    }

    /* comment overrides */
    .commentHolder {
        align-items: end;
    }
    .commentDivide {
        width: 85%;
    }
    .comment form {
        max-width: 100%;
    }

    .commentHolder h2 {
        margin-left: 2em;
        align-self: start;
    }
}